- var CONSTANTS = require("../../constants/index.json");

header.header
    nav.header__nav
        ul.header__nav-list
            li
                a(href=`${CONSTANTS.sections.benefits}`).link О путеводителе
            li
                a(href=`${CONSTANTS.sections.author}`).link Об авторе
            li
                a(href=`${CONSTANTS.sections.price}`).link Стоимость

    button.header__menu-button(aria-label="Открыть меню")#js-mobile-menu-button
        span
        span
        span
        span

    include ../../components/mobile-menu/index
