- var CONSTANTS = require("../../constants/index.json");

.cookies#js-cookies
    .cookies__content
        p.cookies__text
            | Мы используем cookie. Это позволяет нам анализировать взаимодействия посетителей с сайтом и улучшать его.
            | Продолжая пользоваться сайтом, вы соглашаетесь с <a href="#{CONSTANTS.pages.privacyPolicy}" target="_blank" class="link link_theme_underline link_theme_color link_theme_inherit">использованием файлов cookies.</a>
        button.button#js-cookies__button Хорошо!

