- var CONSTANTS = require("../../constants/index.json");

.mobile-menu#js-mobile-menu
    .mobile-menu__content
        nav
            ul.mobile-menu__list
                li
                    a(href=`${CONSTANTS.sections.benefits}`).link О путеводителе
                li
                    a(href=`${CONSTANTS.sections.author}`).link Об авторе
                li
                    a(href=`${CONSTANTS.sections.reviews}`).link Отзывы
                li
                    a(href=`${CONSTANTS.sections.price}`).link Стоимость

    .mobile-menu__overlay#js-mobile-menu__overlay

