section.instructions
    .instructions__content
        .instructions__text
            h3.instructions__title <b>Как</b> и <b>в каком виде</b> вы получите путеводитель после оплаты?
            i Путеводитель представлен в электронном виде в формате файла pdf.
            p Сразу после оплаты появится ссылка на скачивание.
            p Также путеводитель будет отправлен вам на электронную почту в течении 24 часов после оплаты.

    picture
        source(srcset="./images/instructions.avif" media="(min-width: 576px)")
        source(srcset="./images/instructions.webp" media="(min-width: 576px)")
        source(srcset="./images/instructions.avif" media="(max-width: 575px)")
        source(srcset="./images/instructions.webp" media="(max-width: 575px)")
        img(src="./images/instructions.jpg" alt="").instructions__image
