section.instructions
    .instructions__content
        .instructions__text
            h3.instructions__title <b>В каком виде</b> вы получите путеводитель?
            i Путеводитель представлен в виде электронной книги в формате pdf.
            ul
                li Сразу после оплаты появится ссылка на скачивание.
                li Также путеводитель будет отправлен вам на электронную почту в течении 24 часов после оплаты.

    picture
        source(srcset="./images/instructions.avif?v2" media="(min-width: 576px)")
        source(srcset="./images/instructions.webp?v2" media="(min-width: 576px)")
        source(srcset="./images/instructions.avif?v2" media="(max-width: 575px)")
        source(srcset="./images/instructions.webp?v2" media="(max-width: 575px)")
        img.instructions__image(src="./images/instructions.jpg?v2" alt="" loading="lazy")
