- var CONSTANTS = require("../../../constants/index.json");

section.price#price
    picture
        source(srcset="./images/price.avif" media="(min-width: 576px)")
        source(srcset="./images/price.webp" media="(min-width: 576px)")
        source(srcset="./images/price.avif" media="(max-width: 575px)")
        source(srcset="./images/price.webp" media="(max-width: 575px)")
        img.price__image(src="./images/price.jpg" alt="" loading="lazy")
    .price__content-container
        .price__content
            h2.price__text
                p.price__text-price <span>Стоимость путеводителя</span> <b>499 руб.</b>
                p Благодаря ему вы точно сэкономите время на подготовке к поездке в Корею!
            a(href=`${CONSTANTS.pages.payment}`).button.price__button Купить
