@import "@/styles";

.price {
  margin-top: 70px;

  &__image {
    width: 100%;
    height: 367px;
    object-fit: cover;
    display: block;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

    .desktop({
      height: 477px;
    })
  }

  &__content-container {
    background-color: @sky;
  }

  &__content {
    .grid();
    .layout();
    align-items: flex-start;
    padding-top: 96px;
    padding-bottom: 86px;
  }

  &__text {
    .col(20, 3);
    .text-size-4();

    .tablet({
      .col(13, 2);
    });

    .desktop({
      .col(12, 3);
    })
  }

  &__text-price {
    .text-size-3();
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    span {
      text-transform: uppercase;
      max-width: 150px;

      .desktop({
        max-width: max-content;
      })
    }

    b {
      .text-size-2();
      margin-left: auto;

      .tablet({
        margin-left: 24px;
      })
    }
  }

  &__button {
    .col(20, 3);
    margin-top: 66px;

    .tablet({
      .col(9, 15);
      margin-top: 0;
    });

    .desktop({
      .col(6, 17);
    })
  }
}
