- var CONSTANTS = require("../../../constants/index.json");

section.price#price
    .price__background
        .price__container
            .price__guide
                h4.price__guide-title "Путеводитель по Сеулу 2025"

                picture.price__guide-picture
                    source(srcset="./images/firstscreen.avif?v1" media="(min-width: 576px)")
                    source(srcset="./images/firstscreen.webp?v1" media="(min-width: 576px)")
                    source(srcset="./images/firstscreen-mobile.avif?v1" media="(max-width: 575px)")
                    source(srcset="./images/firstscreen-mobile.webp?v1" media="(max-width: 575px)")
                    img.price__guide-image(src="./images/firstscreen.png?v1" alt="")

                p.price__guide-description  Свежая информация 2025 года: <br>
                    | 30 достопримечательностей с описанием, ценами, рассказом как добраться и заметками автора.
                    | В общей сложности 57 страниц с ценной информацией, включая транспорт, деньги, интернет, и тп.
                    | + Инструкция по заполнению и подаче K-ETA.

                .price__guide-price
                    .price__guide-value
                        span.price__guide-value-label Цена
                        .price__guide-new-price
                            b #{CONSTANTS.price} руб
                    .price__guide-left
                        a(href=`${CONSTANTS.pages.payment}`).button.price__guide-button Купить

            .price__text Только нужное, никакой воды
                .price__line
                    span.price__line-cnt
