- var CONSTANTS = require("../../../constants/index.json");

section.price#price
    .price__content-container
        .price__content
            div.price__text
                h2.price__text-price <span>Стоимость путеводителя</span> <span>-</span> <b>#{CONSTANTS.price} руб.</b>
                p В него входит 36 страниц только самой свежей информации&nbsp;2023&nbsp;года!
            a(href=`${CONSTANTS.pages.payment}`).button.price__button Купить
