@import '@/styles';

.price {
  padding-top: 86px;

  .tablet({
    padding-top: 89px;
  });

  .desktop({
      padding-top: 177px;
    });

  &__container {
    .grid();
    .layout();
  }

  &__guide {
    .grid();
    .col(22, 2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding-top: 26px;
    padding-bottom: 39px;

    .tablet({
      padding-top: 40px;
      padding-bottom: 42px;
    });

    .desktop({
      .col(20, 3);
      padding-top: 37px;
      padding-bottom: 52px;
    });
  }

  &__guide-picture {
    .col(12, 7);
    position: relative;
    margin-top: 44px;

    .tablet({
      .col(7, 2);
      margin-top: -28px;
    });

    .desktop({
      .col(4, 2);
    });
  }

  &__guide-image {
    width: 100%;
    object-fit: cover;
    display: block;

    .tablet({
      top: 0;
      left: 0;
      position: absolute;
    });
  }

  &__guide-title {
    .text-size-3();
    .col(24);
    font-weight: 700;
    text-align: center;

    .tablet({
      .col(16, 9);
      text-align: left;
    });

    .desktop({
      .col(17, 7);
    });
  }

  &__guide-description {
    .text-size-4-2();
    .col(22, 2);
    margin-top: 34px;
    text-align: center;

    .tablet({
      .col(16, 9);
      text-align: left;
      margin-top: 28px;
    });

    .desktop({
      .col(17, 7);
      margin-top: 23px;
    });
  }

  &__guide-price {
    .col(22, 2);
    .grid();
    align-items: center;
    margin-top: 47px;

    .tablet({
      margin-top: 38px;
      justify-content: space-between;
    });

    .desktop({
      .col(17, 7);
      margin-top: 30px;
    });
  }

  &__guide-value {
    .col(24);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tablet({
      .col(6, 8);
      padding-left: 22px;
    });

    .desktop({
      .col(13, 1);
      padding-left: 0;
    });

    b {
      .text-size-2();
      font-weight: 700;
    }
  }

  &__guide-value-label {
    .text-size-3();

    .tablet({
      display: none;
    });

    .desktop({
      display: block;
    });
  }

  &__guide-new-price {
    position: relative;
  }

  &__guide-left {
    .col(24);
    margin-top: 36px;
    position: relative;

    .tablet({
      .col(11, 15);
      margin-top: 0;
    });

    .desktop({
      .col(11, 15);
      max-width: 295px;
    });
  }

  &__guide-button {
    width: 100%;
    max-width: 260px;

    .desktop({
      max-width: 295px;
    });
  }
}
