section.addons
    .addons__left
        picture.addons__left-picture
            source(srcset="./images/addons-1.avif?v1" media="(min-width: 576px)")
            source(srcset="./images/addons-1.webp?v1" media="(min-width: 576px)")
            source(srcset="./images/addons-1-mobile.avif?v1" media="(max-width: 575px)")
            source(srcset="./images/addons-1-mobile.webp?v1" media="(max-width: 575px)")
            img.addons__left-img(src="./images/addons-1.png?v1" alt="" loading="lazy")

    .addons__right
        h3.addons__right-title А ТАКЖЕ:
        ul.addons__list
            li как добраться из аэропорта до любого района
            li все о транспорте Сеула: метро/автобусы/такси
            li деньги, сим-карта, интернет
            li полезные приложения с картами города и метро
            li еда - что обязательно стоит попробовать
            li шоппинг - корейская косметика, к-поп и не только

        ul.addons__list
            li как оформить K-ETA (обязательное разрешение на въезд), подробная инструкция

        picture.addons__right-picture
            source(srcset="./images/addons-2.avif?v1")
            source(srcset="./images/addons-2.webp?v1")
            img.addons__right-img(src="./images/addons-2.png?v1" alt="" loading="lazy")


