@import "breakpoints";

.text-size-1() {
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;

  .tablet({
    font-size: 35px;
    line-height: 40px;
  });

  .desktop({
    font-size: 60px;
    line-height: 70px;
  })
}

.text-size-2() {
  font-size: 20px;
  line-height: 24px;

  .tablet({
    font-size: 25px;
    line-height: 30px;
  });

  .desktop({
    font-size: 35px;
    line-height: 41px;
  })
}

.text-size-3() {
  font-size: 18px;
  line-height: 21px;

  .tablet({
    font-size: 20px;
    line-height: 24px;
  });

  .desktop({
    font-size: 25px;
    line-height: 30px;
  })
}

.text-size-4() {
  font-size: 16px;
  line-height: 18px;

  .desktop({
    font-size: 18px;
    line-height: 21px;
  })
}

.text-size-5() {
  font-size: 14px;
  line-height: 16px;
}

.text-size-6() {
  font-size: 14px;
  line-height: 18px;

  .tablet({
    font-size: 16px;
    line-height: 20px;
  });
}

.text-size-title-text-page() {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;

  .tablet({
    font-size: 32px;
    line-height: 38px;
  });

  .desktop({
    font-size: 50px;
    line-height: 62px;
  })
}
