extends ../../layout/index

block content
    include ./firstscreen/index
    include ./benefits/index
    include ./addons/index
    include ./author/index
    include ./info/index

    //include ./reviews/index
    //include ./price/index
    //include ./instructions/index
