section.info
    .info__banner
        picture.info__banner-picture
            source(srcset="./images/info-banner.avif?v1" media="(min-width: 576px)")
            source(srcset="./images/info-banner.webp?v1" media="(min-width: 576px)")
            source(srcset="./images/info-banner-mobile.avif?v1" media="(max-width: 575px)")
            source(srcset="./images/info-banner-mobile.webp?v1" media="(max-width: 575px)")
            source(srcset="./images/info-banner-mobile.jpg?v1" media="(max-width: 575px)")
            img(src="./images/info-banner.jpg?v1" alt="" loading="lazy")

        .info__banner-text-wrapper
            h2.info__banner-text С этим путеводителем вы точно <b>сэкономите&nbsp;время</b> на поиске информации при подготовке к поездке в Сеул!

