section.info
    picture.info__picture
            source(srcset="./images/info.avif" media="(min-width: 576px)")
            source(srcset="./images/info.webp" media="(min-width: 576px)")
            source(srcset="./images/info-mobile.avif" media="(max-width: 575px)")
            source(srcset="./images/info-mobile.webp" media="(max-width: 575px)")
            img.info__image(src="./images/info.png" alt="" loading="lazy")
    h2.info__text 36 страницы только <b>самой свежей информации</b>, проверенной мной лично
