section.info
    picture.info__picture
            //source(srcset="./images/firstscreen.avif" media="(min-width: 576px)")
            //source(srcset="./images/firstscreen.webp" media="(min-width: 576px)")
            //source(srcset="./images/firstscreen-mobile.avif" media="(max-width: 575px)")
            //source(srcset="./images/firstscreen-mobile.webp" media="(max-width: 575px)")
            img.info__image(src="./images/info.png" alt="")
    p.info__text 34 страницы только <b>самой свежей информации</b>, проверенной мной лично
