section.info
    picture.info__picture
        source(srcset="./images/info.avif?v1" media="(min-width: 576px)")
        source(srcset="./images/info.webp?v1" media="(min-width: 576px)")
        source(srcset="./images/info-mobile.avif?v1" media="(max-width: 575px)")
        source(srcset="./images/info-mobile.webp?v1" media="(max-width: 575px)")
        img.info__image(src="./images/info.png?v1" alt="" loading="lazy")
    h2.info__text 36 страниц только <b>самой свежей информации</b>, проверенной мной лично
