- var CONSTANTS = require("../../../constants/index.json");

section.firstscreen(aria-labelledby="firstscreen-title")
    h1.firstscreen__title#firstscreen-title Что посмотреть в Сеуле?

    div.firstscreen__image-wrapper
        picture
            source(srcset="./images/firstscreen.avif?v1" media="(min-width: 576px)")
            source(srcset="./images/firstscreen.webp?v1" media="(min-width: 576px)")
            source(srcset="./images/firstscreen-mobile.avif?v1" media="(max-width: 575px)")
            source(srcset="./images/firstscreen-mobile.webp?v1" media="(max-width: 575px)")
            img.firstscreen__image(src="./images/firstscreen.png?v1" alt="")

    p.firstscreen__description Перед вами самый свежий путеводитель по Сеулу 2025 года.
    p.firstscreen__description Достопримечательности. Цены. Как добраться. И многое другое!

    .firstscreen__buttons-container
        a(href=`${CONSTANTS.pages.payment}`).button.firstscreen__button Купить
