@import '@/styles';

.firstscreen {
  .layout();
  .grid();
  margin-top: 77px;
  margin-bottom: 54px;

  .tablet({
    margin-top: 110px;
    margin-bottom: 150px;
  });

  .desktop({
    margin-bottom: 252px;
  });

  &__title {
    .text-size-1();
    .col(24);
    text-align: center;
    margin-bottom: 0;

    .tablet({
      .col(12, 2);
      text-align: left;
      padding-top: 24px;
      margin-bottom: 36px;
    });

    .desktop({
      .col(12, 3);
      padding-top: 62px;
    });
  }

  &__description {
    .text-size-3();
    .col(21, 2);
    text-align: center;
    font-weight: 400;
    margin-bottom: 14px;

    .tablet({
      .col(12, 2);
      text-align: left;
    });

    .desktop({
      .col(11, 3);
    });
  }

  &__image-wrapper {
    .col(16, 5);
    display: flex;
    position: relative;
    margin-top: 15px;
    margin-bottom: 53px;

    .tablet({
      .col(10, 14);
      margin-top: 0;
    });

    .desktop({
      .col(8, 15);
    });
  }

  &__image {
    width: 100%;
    max-width: 370px;
    display: block;

    .tablet({
      position: absolute;
      right: 0;
    });
  }

  &__buttons-container {
    .grid();
    .col(18, 4);
    align-items: flex-start;
    margin-top: 26px;

    .tablet({
      .col(12, 2);
      margin-top: 28px;
    });

    .desktop({
      .col(12, 3);
    });
  }

  &__button {
    width: 260px;

    .desktop({
      width: 290px;
    })
  }
}
