- var CONSTANTS = require("../../../constants/index.json");

section.firstscreen(aria-labelledby="firstscreen-title")
    h1.firstscreen__title#firstscreen-title Ищите что посмотреть&nbsp;в&nbsp;Сеуле?

    div.firstscreen__image-wrapper
        picture
            source(srcset="./images/firstscreen.avif?v1" media="(min-width: 576px)")
            source(srcset="./images/firstscreen.webp?v1" media="(min-width: 576px)")
            source(srcset="./images/firstscreen-mobile.avif?v1" media="(max-width: 575px)")
            source(srcset="./images/firstscreen-mobile.webp?v1" media="(max-width: 575px)")
            img.firstscreen__image(src="./images/firstscreen.png?v1" alt="")

    h2.firstscreen__description Я составила самый свежий путеводитель по Сеулу&nbsp;2023 года

    .firstscreen__buttons-container
        div.firstscreen__button
            //a(href=`${CONSTANTS.previewLink}` download).button.button_theme_outline.js-preview-download Скачать*
            //i *БЕСПЛАТНАЯ ознакомительная версия
        a(href=`${CONSTANTS.pages.payment}`).button.firstscreen__button Купить
