@import '@/styles';

.firstscreen {
  .layout();
  .grid();
  margin-top: 85px;
  margin-bottom: 82px;

  .tablet({
    margin-top: 117px;
    margin-bottom: 75px;
  });

  .desktop({
    margin-bottom: 187px;
  });

  &__title {
    .text-size-1();
    .col(24);
    text-align: center;

    .tablet({
      .col(12, 2);
      text-align: left;
      padding-top: 24px;
    });

    .desktop({
      .col(12, 3);
      padding-top: 48px;
    });
  }

  &__description {
    .text-size-3();
    .col(18, 4);
    text-align: center;
    margin-top: 45px;
    font-weight: 400;

    .tablet({
      .col(12, 2);
      margin-top: 30px;
      text-align: left;
    });

    .desktop({
      .col(12, 3);
    });
  }

  &__image-wrapper {
    .col(16, 5);
    display: flex;
    position: relative;
    margin-top: 32px;

    .tablet({
      .col(10, 14);
      margin-top: 0;
    });

    .desktop({
      .col(8, 15);
    });
  }

  &__image {
    width: 100%;
    max-width: 370px;
    display: block;

    .tablet({
      position: absolute;
      right: 0;
    });
  }

  &__buttons-container {
    .grid();
    .col(18, 4);
    align-items: flex-start;
    margin-top: 50px;

    .tablet({
      .col(12, 2);
      margin-top: 50px;
    });

    .desktop({
      .col(12, 3);
      margin-top: 79px;
    });

    i {
      .text-size-5();
      display: block;
      margin-top: 10px;
      font-weight: 300;

      .desktop({
        margin-top: 19px;
      });
    }

    a {
      width: 100%;
    }
  }

  &__button {
    .col(24, 1);

    .tablet({
      .col(14, 1);
    });

    &:nth-child(odd) {
      .desktop({
        .col(12, 1);
      });
    }

    &:nth-child(even) {
      margin-top: 40px;

      .tablet({
        margin-top: 33px;
      });

      .desktop({
        .col(12, 13);
        margin-top: 0;
      });
    }
  }
}
