@import '@/styles';

.author {
  .layout();
  .grid();
  padding-top: 51px;

  .tablet({
    padding-top: 106px;
  });

  .desktop({
    padding-top: 149px;
  });

  &__title {
    .text-size-1-2();
    .col(22, 3);
    text-align: center;
    text-transform: uppercase;
    color: @violet;

    .desktop({
      text-align: left;
    })
  }

  &__text {
    //.col(24);
    .text-size-4-2();
    margin-top: 18px;

    .tablet({
      margin-top: 35px;
    });

    .desktop({
      .col(12, 3);
      margin-top: 38px;
    });
  }

  &__text-content {
    p:first-child {
      font-weight: 300;
    }
  }

  &__text-ps {
    font-weight: 300;

    .desktop({
      .col(12, 3);
      margin-top: 54px;
    })
  }

  &__text-color {
    color: @violet;
  }

  &__picture {
    position: relative;
    //.col(24);

    .desktop({
      .col(7, 16);
      margin-top: -50px;
    })
  }

  &__image {
    width: 100%;
    max-width: 100%;
    display: block;

    .desktop({
      position: absolute;
    })
  }
}
