section.benefits#benefits
    .benefits__content
        .benefits__block
            h3.benefits__title 24 достопримечательности Сеула:
            ul.benefits__list
                li краткое описание с пометками автора
                li актуальные цены 2023 года
                li подробно как до них добраться
                li режим работы

        .benefits__block
            h3.benefits__title 13 страниц с полезной доп. информацией:
            ul.benefits__list
                li как добраться из аэропорта до центра
                li все о транспорте Сеула, оплата проезда
                li деньги - обмен, снятие наличных
                li сим-карта и интернет
                li еда - что обязательно стоит попробовать
                li где купить качественную корейскую косметику в Сеуле

            ul.benefits__list
                li как оформить K-ETA, подробная инструкция
