section.benefits#benefits
    .benefits__header
        h2.benefits__title
            span.benefits__title-number 30
            | достопримечательностей Сеула и его окрестностей
    .benefits__pages
        .benefits__pages-content
            h3.benefits__pages-title
                span.benefits__pages-number 57
                | страниц с самой полезной информацией

    .benefits__preview
        .benefits__preview-image-wrapper
            picture
                source(srcset="./images/benefits.avif?v1" media="(min-width: 576px)")
                source(srcset="./images/benefits.webp?v1" media="(min-width: 576px)")
                source(srcset="./images/benefits-mobile.avif?v1" media="(max-width: 575px)")
                source(srcset="./images/benefits-mobile.webp?v1" media="(max-width: 575px)")
                img.benefits__preview-image(src="./images/benefits.png?v1" alt="" loading="lazy")

        .benefits__preview-direction вот так путеводитель выглядит внутри:)

    .benefits__special
        ul.benefits__special-list
           li Дворцы
           li Фольклорная деревня
           li Храмы
           li Национальные заповедники
           li Парки
           li Ботанический сад
           li Музеи
           li Крепость
           li Самобытные улочки
           li Современная архитектура
