section.city
    picture.city__picture
        //source(srcset="./images/author.webp?v1" media="(min-width: 576px)")
        //source(srcset="./images/temp-author-mobile.jpg?v1" media="(max-width: 575px)")
        img.city__image(src="./images/city-picture-temp.png?v1" alt="" loading="lazy")