section.city
    picture.city__picture
        source(srcset="./images/city.webp?v1")
        source(srcset="./images/city.avif?v1")
        img.city__image(src="./images/city.png?v1" alt="" loading="lazy")