doctype html
html(lang='ru')
    include head

    body
        include header/index

        main
            block content
                include payment/index

        include footer/index

        //include ya-metrica

    //include ../components/grid-example/index
