doctype html
html(lang='ru')
    include head

    body
        include header/index

        main
            block content
                include payment/index

        include footer/index
        include ../components/cookies/index

        include ya-metrica
        include vk-metrica

    include ../components/grid-example/index
