@import "@/styles";

.payment-layout {
  .grid();
  .layout();
  margin-top: 85px;
  margin-bottom: 66px;

  .tablet({
    margin-top: 135px;
    margin-bottom: 128px;
  });

  .desktop({
    margin-top: 140px;
    margin-bottom: 100px;
  });

  &__content {
    .col(20, 3);

    .tablet({
      .col(13, 2);
    });

    .desktop({
      .col(12, 3);
    })
  }

  &__picture {
    .col(6, 17);
    position: relative;

    .tablet({
      .col(7, 17);
      order: 1;
    });

    .desktop({
      .col(7, 16);
    });

    &_theme_confirmation {
      .col(6, 10);

      .tablet({
        .col(7, 17);
      });

      .desktop({
        .col(7, 16);
      });

      .payment-layout__image {
        position: relative;

        .desktop({
          position: absolute;
        })
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;

    .tablet({
      position: relative;
    });
  }

  &__info {
    .col(20, 3);
    order: 2;

    .tablet({
      .col(18, 4);
    });

    .desktop({
      .col(10, 4);
    })
  }
}
