block payment-content-constants

section.payment-layout(class=paymentContentClass)
    picture.payment-layout__picture(class={"payment-layout__picture_theme_confirmation": isConfirmation})
        source(srcset="./images/firstscreen.avif" media="(min-width: 576px)")
        source(srcset="./images/firstscreen.webp" media="(min-width: 576px)")
        source(srcset="./images/firstscreen-mobile.avif" media="(max-width: 575px)")
        source(srcset="./images/firstscreen-mobile.webp" media="(max-width: 575px)")
        img.payment-layout__image(src="./images/firstscreen.png" alt="")

    .payment-layout__content
        block payment-content

    if isConfirmation
        .payment-layout__info
            block payment-content-info
